*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    
}

:root{
    --primarycolor: #183b56;
    --secondarycolor: #cf0c0c;
    --accentcolor: #2294ed;
    --acccentcolor_dark : #1d69a3;
}

body{
    color: var(--primarycolor);
    background-color: rgb(255, 255, 255);
   
}

a{
    /* color: var(--primarycolor); */
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
     max-width: 80vw ;
     margin-inline: auto;
     overflow: hidden;
}

nav{ 
background-color: hsl(150, 38%, 49%);
box-shadow: 0 0 2px 0 #bbd0e2;
position: fixed;
top: 0;
width:100vw;
z-index: 99;
right: 0;
left: 0;
}

.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}

.main-logo img{
    width: 6vw;
    /* transition: all 2s linear; */
    
}
/* .main-logo img:active{
 transform :rotate(360deg);
 height: 100vh;
 width: 100vw;
 opacity: 0.75;
} */
.searchbar{
    gap: 8px;
}

.searchbar input{
    
    border-radius: 5px;
    outline: none;
    height: 5vh;
    border: 2px solid lightgrey;
}
#searchbar-text:first-letter{
 text-transform: capitalize;
}

.searchbtn{
    color: white;
    border-radius: 5px;
    width: 5vw ;
    height:4vh;
   background-color: var(--accentcolor);   
   cursor:pointer; 
}
.searchbtn:hover{
    background-color: var(--acccentcolor_dark);
}

.navlink ul{
    gap: 3rem ; 
}
.navitems{
    cursor:pointer;
}
.navitems:hover{
    color: white;
    text-decoration: underline 1px white;
}
.navitems:active{
    color: rgb(153, 0, 255);
}
main{
    margin-top: 19vh;
  
}
.card-container{

    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 350px;
    max-height: 410px;
    border-radius: 5px;
    box-shadow:0 0 10px #d4ecff;
    transition: all 0.1s ease-in;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    overflow: hidden; /*image bhr jaa rhi thi & border radius apply nhi ho rha tha so overflow hidden krke excess image hta din & ab it follows border radius  */
}
.card:hover{
    background-color: #b6e4f5 ;
    transform:translateY(3px) ;
}

.card img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.cardcontent{
    padding: 3px 10px;
}
#news-title, #news-source{
    padding-bottom: 2px;
}
#news-content{
    padding:0 3px 3px 3px;
}




